# 压缩包
*.zip
*.gz
*.tar
*.rar
*.7z
*.bz2
*.xz
*.tgz
*.tar.gz
*.tar.bz2
*.tar.xz

# LaTeX 编译产物
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.synctex
*.fdb_latexmk
*.fls
*.bbl
*.blg
*.bcf
*.run.xml

# 参考示例与提交素材
reference/
计算机网络课程设计_2352628韦畅_2351106冯可_2353404田煜峰/
